     <!-- Modal -->
<div class="modal fade" id="OutcomesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><b>Our Outcomes</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <b>Our Outcomes</b>
                <p>  ● Teachers create a clear plan for their learners' leadership growth.</p>
                <p>  ● Teachers have a clear plan for their professional and personal growth.</p>
                <p>
                    ● Teachers start executing educational-related projects to solve immediate challenges in
                    their school and community.
                </p>
                <p>  ● Learners take the lead to advocate for change in their school and community.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- The End Modal -->