<!-- Modal -->
<div class="modal fade" id="VisionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><b>CoachFrika</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <b>CoachFrika </b>is a business enterprise that provides coaching support for teachers both in public
                    and private schools across Nigeria towards excellent education, At CoachFrika, we offer
                    hybridized coaching support throughout the academic session for our teachers. Our coaching
                    system focuses on developing the professional capacity of the teacher at an early stage in the
                    teaching profession towards the right mindset for improved learning outcomes, leadership
                    skills, and problem-solving skills.
                </p>
                <p>
                    At CoachFrika, we aim to provide excellent coaching for teachers across Africa so they can be
                    more intentional, efficient, and effective as teacher-leaders in their workplace. This, we believe,
                    will lead to them deriving joy and happiness in their careers as it will accelerate their growth.
                    Coachfrika also shared the view that the coaching will enhance the teachers' ability to make
                    informed decisions about their career paths and sustainably raise problem-solving leaders in
                    the future.
                </p>
                <p>
                    We provide coaching, we monitor and evaluate growth, and we get feedback from the
                    stakeholders.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- The End Modal -->